body {
  background: #fff;
  font-family: hack-regular;
  color: #1a1a1a;
  a {
    color: #6d9718;
  }

  @media (prefers-color-scheme: dark) {
    background: #000;
    color: #eeeeee;
    a {
      color: hotpink;
    }
  }
}

img {
  max-width: 100%;
}

div.content {
  margin: 0 auto;
  display: block;
  max-width: 1000px;
}

pre {
  font-size: 1rem;
  padding: 1rem;
}

pre, code {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #000;
  background-color: #f5f5f5;
  @media (prefers-color-scheme: dark) {
    background-color: #202020;
    color: #eeeeee;
  }
}

.logo {
  margin: .5rem 0;
  padding: 0;
  font-size: .5rem;
  background: none;
}

blockquote {
  font-size: .7rem;
  color: #a0a0a0;
  margin: 0 1rem;
}

h2, h3, h4 {
  margin-top: 4.5rem;
}

p {
  margin: 2rem 0;
}


