<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ if .Params.math }}{{ partial "docs/katex.html" . }}{{ end }}
  {{ partial "docs/html-head" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>

<body>

    <div class="header">
      <div class="header-content">
        <div class="header-content-title">
            octetz
          </div>
        <div class="header-content-nav">
        <div class="header-content-nav-item">
            <a href="/c">content</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="https://www.oreilly.com/library/view/production-kubernetes/9781492092292">book</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="https://twitter.com/joshrosso">twitter</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="https://rss.octetz.com">rss</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="/about">about</a> 
        </div>
          </div>
      </div>

    </div>

  <div class="content-container">
  <div class="content">
    {{ template "main" . }}
  </div>
  <div class="content-toc">
    <h3>Contents</h3>
    {{ .TableOfContents }}
  </div>
  </div>

</body>

</html>
