<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>

<body>

    <div class="header">
      <div class="header-content">
        <div class="header-content-title">
            Josh Rosso
          </div>
        <div class="header-content-nav">
        <div class="header-content-nav-item">
            <a href="/c">content</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="/c">talks</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="/c">book</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="/c">twitter</a> 
        </div>
        <div class="header-content-nav-item">
            <a href="/c">rss</a> 
        </div>
          </div>
      </div>

    </div>

  <div class="content">

    {{ template "main" . }}

  </div>

</body>

</html>
