/* You can add custom styles here. */

// @import "plugins/numbered";

img.center {
    display: block;
    margin: 0 auto;
}

.title-bar {
  background: #000;
  height: 6rem;
}

.logo {
  height: 2rem;
  margin-bottom: .2rem;
}

.social {
  height: .75rem;
}

.header-wrapper {
  display: flex;
  justify-content: flex-start;
  @media screen and (min-width: 913px) {
    margin-right: 256px;
  }
  padding-left: 1rem;
  padding-right: 1rem;

  .octetz-logo {
    margin-top: 1.8rem;
  }

}

.header-wrapper div{
}

.nav-links {
  a:link {
    color: #ccc;
  }

  a:visited {
    color: #ccc;
  }

  a:hover {
    color: #fff;
  }
}

.nav-block {
  margin-left: auto;
  margin-top: 2.25rem;
  font-size: 1.2rem;

}

.book-brand-custom {
  margin-top: 0;

  img {
    vertical-align: middle;
    margin-right: $padding-8;
  }
}

.post-box {
  border-color: #000;
}

.post-card {
  display: flex;

  img {
    @media screen and (min-width: 913px) {
    width: 100%;
    }
    @media screen and (max-width: 914px) {
      width: 0px;
    }
  }

  .desc {
    width: 100%;
    @media screen and (min-width: 913px) {
    margin-right: 4rem;
    }
  }
}

.date-section {
  margin-top: 2rem;
  border-bottom-style: dotted;
  border-top-style: dotted;

}